<h2 class="mat-h2">Add New Book</h2>
<div class="book-new__form">
  <ng-container *ngIf="step$ | async as step">
    <p>
      <mat-button-toggle-group [value]="step" (change)="selectStep($event.value)">
        <mat-button-toggle [value]="NewBookStep.info">Info</mat-button-toggle>
        <mat-button-toggle [value]="NewBookStep.price">Price</mat-button-toggle>
      </mat-button-toggle-group>
    </p>
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="NewBookStep.info">
        <ws-book-new-info></ws-book-new-info>
      </ng-container>
      <ng-container *ngSwitchCase="NewBookStep.price">
        <ws-book-new-price></ws-book-new-price>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
