<h2 class="mat-h2">Add New Book</h2>
<!-- book-new.component.html -->
@if (step$ | async; as step) {
  <mat-button-toggle-group [value]="step" (change)="selectStep($event.value)">
    <mat-button-toggle [value]="NewBookStep.info">Info</mat-button-toggle>
    <mat-button-toggle [value]="NewBookStep.price">Price</mat-button-toggle>
  </mat-button-toggle-group>
  @switch (step) {
    @case (NewBookStep.info) {
      <ws-book-new-info />
    }
    @case (NewBookStep.price) {
      Price Step
    }
  }
}
