<h2>New Book</h2>
<ng-container *ngIf="step$ | async as step">
  <mat-button-toggle-group [value]="step" (change)="selectStep($event.value)">
    <mat-button-toggle [value]="NewBookStep.info">Info</mat-button-toggle>
    <mat-button-toggle [value]="NewBookStep.price">Price</mat-button-toggle>
  </mat-button-toggle-group>
  <ng-container [ngSwitch]="step">
    <ws-new-book-info *ngSwitchCase="NewBookStep.info"></ws-new-book-info>
    <ws-new-book-price *ngSwitchCase="NewBookStep.price"></ws-new-book-price>
  </ng-container>
</ng-container>
