html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card .mat-card-header-text {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

mat-form-field {
  max-width: 50rem;
}
